{% sw_extends '@Storefront/storefront/page/content/product-detail.html.twig' %}

{% set crossSellingProducts = config('SwagTrainingCrossSellingProducts.config.products') %}

{% block page_content %}
    <div class="container">
        {{  dump(page.extensions.crossSellingProducts) }}
    </div>
    {{ parent() }}
{% endblock %}