{% set upsellingProducts = page.product.extensions.upsellingProducts.elements %}

<div class="container">
    <h3>{{ 'upsellingProducts.title'|trans }}</h3>
    <div class="row row-cols-3">
        {% for upsellingProduct in upsellingProducts %}
            {% block element_product_box_inner %}
                {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                    'product': upsellingProduct.upsellingProduct,
                    'layout': 'standard',
                    'displayMode': 'standard'
                } %}
            {% endblock %}
        {% endfor %}
    </div>
</div>